/**
 * Pregunta: ¿Qué propiedad CSS se usa para cambiar el color de fondo de un elemento?
 * Respuesta: La propiedad CSS utilizada es 'background-color'.
 */
 body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/**
 * Pregunta: ¿Cómo se centra un div dentro de su contenedor padre horizontalmente?
 * Respuesta: Para centrar horizontalmente un div dentro de su contenedor padre, se puede utilizar la combinación de 
 * 'width: 50%; margin: 0 auto;'. Esto establece un ancho del 50% y margen automático a los lados, lo que centra el div horizontalmente.
 */
#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/**
 * Pregunta: ¿Cuál es la diferencia entre 'id' y 'class' en CSS?
 * Respuesta: 'id' se utiliza para identificar un elemento único en el documento HTML y solo puede estar asignado a un elemento específico.
 * En cambio, 'class' se utiliza para aplicar estilos a múltiples elementos y puede ser asignado a varios elementos en el documento.
 */
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}